.products-list {
    padding: 1rem;
    margin: 0;
    display: block;
    gap: 1rem;
}

.product-item:hover {
    transform: scale(1.02);
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
    padding: 1.2em;
}
