
.navigation {
    /* background-color: var(--pico-primary); */
    /* color: var(--pico-primary-inverse); */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px; */
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-icons svg{
    padding: 20px 0 0 0 0;
    align-items: center;
    stroke: var(--pico-primary);
    &:hover {
        stroke: var(--pico-secondary);
    }
}

a.active:not(:has(svg)) {
    border: 2px solid var(--pico-primary);
    border-radius: 999px;
    padding: 4px 12px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a.active svg {
    text-decoration: none;
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}