.navigation {
    /* background-color: var(--pico-primary); */
    /* color: var(--pico-primary-inverse); */
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px; */
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-icon-container {
    cursor: pointer;
    color: var(--pico-primary);
}

a.active {
    border: 2px solid var(--pico-primary);
    border-radius: 999px;
    padding: 4px 12px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.badge {
    align-items: center;
    color: black;
    display: flex;
    font-size: 0.6rem;
    height: 20px;
    justify-content: center;
    line-height: 1;
    min-width: 20px;
    position: absolute;
    right: 20px;
    top: 5px;
}
